<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.exam.dao.AdminCourseMapper">
	
	<select id="queryCourses" resultType="Course">
		SELECT course_id,course_name,course_intro FROM course_table
	</select>
	
	<select id="getCourseIntro" parameterType="Integer" resultType="String">
		SELECT course_intro 
		FROM course_table
		WHERE course_id=#{courseId}
	</select>
	
	<delete id="deleteCourse" parameterType="Integer">
		DELETE FROM course_table
		WHERE course_id=#{courseId}
	</delete>
	
	<select id="queryCourseByName" parameterType="String" resultType="Course">
		SELECT * FROM course_table
		WHERE course_name=#{courseName}
	</select>
	
	<select id="queryCourseById" parameterType="String" resultType="Course">
		SELECT * FROM course_table
		WHERE course_id=#{courseId}
	</select>
	
	<insert id="addCourse" parameterType="Course">
		INSERT INTO course_table
		VALUES(#{course_id},#{course_name},#{course_intro})
	</insert>
	
</mapper>