<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.exam.dao.ExamMapper">

	<insert id="addExam" parameterType="Exam">
		INSERT INTO exam_table(exam_id, course_id, teacher_id,
		easy, midd, hard, exam_time_start, exam_time_end, exam_length)
		VALUES(#{exam_id}, #{course_id}, #{teacher_id},
		#{easy}, #{midd}, #{hard}, #{exam_time_start}, #{exam_time_end}, #{exam_length})
	</insert>
	
	<select id="countStudent" parameterType="String" resultType="Integer">
		SELECT COUNT(*) FROM course_student_table s, course_teacher_table t
		WHERE s.crs_tch_id = t.pri_id AND t.course_id = #{course_id}
	</select>
	
	<insert id="addQuestion" parameterType="Exam">
		INSERT INTO exam_question_table(exam_id, course_id, question_id)
		SELECT #{exam_id}, #{course_id}, question_id FROM question_table
		WHERE course_id = #{course_id} AND question_rate = #{rate} ORDER BY RAND() LIMIT #{num}
	</insert>
	
	
	
	<select id="startTime" parameterType="Exam" resultType="Exam">
		SELECT exam_time_start, exam_time_end, exam_length FROM exam_table
		WHERE exam_id = #{exam_id}
	</select>
	
	<select id="ifStartExam" parameterType="ExamPaper" resultType="ExamPaper">
		SELECT start_time, end_time FROM exam_history_table
		WHERE exam_id = #{exam_id} AND student_id = #{student_id}
	</select>
	
	<insert id="startExam" parameterType="ExamPaper">
		INSERT INTO exam_history_table(exam_id, student_id, start_time, end_time)
		VALUES(#{exam_id}, #{student_id}, #{start_time}, #{end_time})
	</insert>
	
	<select id="getExamQuestion" parameterType="String" resultMap="questionlist">
		SELECT e.question_id, course_name, question_mark, question_type,
		question_a, question_b, question_c, question_d, question_body
		FROM exam_question_table e, question_table q, course_table c
		WHERE e.exam_id = #{exam_id} AND e.question_id = q.question_id AND q.course_id = c.course_id
	</select>
	
	<resultMap type="Question" id="questionlist">
		<id column="question_id" property="question_id"/>
		<result column="question_mark" property="question_mark"/>
		<result column="question_type" property="question_type"/>
		<result column="question_a" property="question_a"/>
		<result column="question_b" property="question_b"/>
		<result column="question_c" property="question_c"/>
		<result column="question_d" property="question_d"/>
		<result column="question_body" property="question_body"/>
	</resultMap>
	
	<update id="storeHistory" parameterType="ExamPaper">
		UPDATE exam_history_table
		SET mult_answer = #{mult_answer}, subj_answer = #{subj_answer},
		mult_result = #{mult_result}, mult_score = #{mult_score}
		WHERE exam_id = #{exam_id} AND student_id = #{student_id}
	</update>
	
	
	
	<select id="getExamPaper" parameterType="String" resultMap="exampaperlist">
		SELECT h.student_id, u.user_name student_name, c.course_name, h.subj_answer
		FROM exam_history_table h, user_table u, exam_table e, course_table c
		WHERE h.exam_id = #{exam_id} AND h.student_id = u.user_id
		AND h.exam_id = e.exam_id AND e.course_id = c.course_id AND h.is_reviewed IS NULL
	</select>
	
	<resultMap type="ExamPaper" id="exampaperlist">
		<id column="student_id" property="student_id"/>
		<result column="student_name" property="student_name"/>
		<result column="course_name" property="course_name"/>
		<result column="subj_answer" property="subj_answer"/>
	</resultMap>
	
	<update id="confirmHistory" parameterType="ExamPaper">
		UPDATE exam_history_table
		SET subj_result = #{subj_result}, subj_score = #{subj_score}, is_reviewed = 'true'
		WHERE exam_id = #{exam_id} AND student_id = #{student_id}
	</update>
	
	<select id="getCorrect" parameterType="String" resultMap="correctMap">
		SELECT q.question_id, question_type, question_mark, question_body,
		question_a, question_b, question_c, question_d, question_answer
		FROM question_table q, exam_question_table e
		WHERE e.exam_id = #{exam_id} AND e.question_id = q.question_id
	</select>
	
	<resultMap type="Question" id="correctMap">
		<id column="question_id" property="question_id"/>
		<result column="question_type" property="question_type"/>
		<result column="question_mark" property="question_mark"/>
		<result column="question_body" property="question_body"/>
		<result column="question_a" property="question_a"/>
		<result column="question_b" property="question_b"/>
		<result column="question_c" property="question_c"/>
		<result column="question_d" property="question_d"/>
		<result column="question_answer" property="question_answer"/>
	</resultMap>
	
	<select id="getDetail" parameterType="ExamPaper" resultType="ExamPaper">
		SELECT h.exam_id, u.user_name student_name, c.course_name, h.mult_answer, h.mult_result, h.subj_answer, h.subj_result
		FROM exam_history_table h, user_table u, exam_table e, course_table c
		WHERE h.exam_id = #{exam_id} AND h.student_id = #{student_id}
		AND h.student_id = u.user_id AND h.exam_id = e.exam_id AND e.course_id = c.course_id
	</select>
	
</mapper>